extends layout
block content
    p Welcome #{name}!
    form(action='/home', method='POST')
        textarea(name='text', type='text', placeholder='Write text here...')
        button(type='submit') send
    a(href='/logout') logout